

td,th{
 padding: 5px;
 text-align: center;
 }

input{
  margin-right: 90%;
  margin-bottom: 10px;
}
 h2,h1{
    color: ghostwhite;
 }
 h4{
    color: chocolate;
 }
 p{
   color: #FFF;
   border: 1px;
 }
 img{
   width: 100px;
   height: 100px;
   margin: 30px;
 }
 #logo{
  height: 50px;
  display: inline-flex;
   width: 70%;
   margin: 0%;
   padding: 0%;
 flex-direction: column;
 }
#Signup{
  
  margin: 10px;
  padding-bottom: 20px;
}
 
 #header li {
   margin: 0%;
    list-style-type: none;
   
  }
  #header {
    margin: 0%;
    background-color: #80cbee;
    height: 50px;
  }
  #header li a {
    color: #FFF;
    font-weight: bold;
    text-decoration: none;
    padding: 10px;
    display: inline-block;
  }

  .order{
    margin: 0;
    color: white;
  }
  .order1{
    margin-bottom: 30px;
  }
  
  .dark-mode {
    background-color:black;
    color: white;
  }
  .body{
    background-color: #80cbee;
  }

  .blackBg {
    background-color: black;
  }
  .blackButton{
    background-color: black;
    color: white;
  }
  .whiteButton{
    background-color: white;
    color: black;
  }
  #dark{
    display: inline-flex;
    margin: 0%;
    margin-left: 10%;
  flex-direction: column;
  }
 .orderblock{
   background-color:#778899;
 }
 .hamburgerDropDown {
  z-index:1;
  position: fixed;
  left: 20%;
  top: 40px;
  width: 300px;
  background-color: #80cbee;
  border: 1px solid bisque;
}

ul.hamburgerDropDown {
  z-index:1;
  padding: 10px;
}

.inputContainer i {
  position: absolute;
}
.inputContainer {
  width: 50%;
  margin-bottom: 10px;
}
.icon {
  padding: 15px;
  color: rgb(49, 0, 128);
  width: 70px;
  text-align: left;
}
.Field {
  width: 100%;
  padding: 5px;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
}

