

td,th{
 padding: 5px;
 text-align: center;
 }

input{
  margin-right: 90%;
  margin-bottom: 10px;
}
 h2,h1{
    color: ghostwhite;
 }
 h4{
    color: chocolate;
 }
 p{
   color: #FFF;
   border: 1px;
 }
 img{
   width: 100px;
   height: 100px;
   margin: 30px;
 }
 #logo{
  height: 50px;
  display: inline-flex;
   width: 70%;
   margin: 0%;
   padding: 0%;
 flex-direction: column;
 }
#Signup{
  
  margin: 10px;
  padding-bottom: 20px;
}
 
 #header li {
    list-style-type: none;
   
  }
  #header {
    background-color: #8ef080;
    height: 50px;
  }
  #header li a {
    color: #FFF;
    font-weight: bold;
    text-decoration: none;
    padding: 10px;
    display: inline-block;
  }

  .order{
    margin: 0;
    color: white;
  }
  .order1{
    margin-bottom: 30px;
  }
  
  .dark-mode {
    background-color:black;
    color: white;
  }
  .body{
    background-color: darkgreen;
  }

  .blackBg {
    background-color: black;
  }
  .blackButton{
    background-color: black;
    color: white;
  }
  .whiteButton{
    background-color: white;
    color: black;
  }
  #dark{
    display: inline-flex;
    margin: 0%;
    margin-left: 10%;
  flex-direction: column;
  }
 .orderblock{
   background-color: #59AA4C;
 }
 .hamburgerDropDown {
  position: fixed;
  left: 11%;
  top: 40px;
  width: 300px;
  background-color: #35bea1;
  border: 1px solid bisque;
}

ul.hamburgerDropDown {
  padding: 10px;
}

